.complaint-header {
  height: 40%;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 30px 0;
  background-color: #478fd6;
}
.days {
  position: absolute;
  right: 5px;
  top: 5px;
  color: azure;
  font-family: "Ubuntu", sans-serif;

  /* min-width: 80px; */
  padding: 5px;
  background-color: rgba(238, 238, 238, 0.103);
}

.remarks {
  position: relative;
  background-color: rgb(235, 224, 209);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.complaint-body table {
  max-width: 90%;
}
.complaint-body {
  background-color: aliceblue;
  height: 65%;
  width: 100%;
  position: absolute;
  border-radius: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  top: 33%;
  left: 0;
  padding-top: 20px;
  /* padding: 15px 15%; */
}
.controlIcon {
  font-size: large;
  padding: 2px 5px;
  color: white;
}
.controlIcon:hover {
  color: black;
  cursor: pointer;
}
.paragraph {
  padding: 10px;
  background: #e6e7df;
  border-radius: 10pxx;
}
.complaintControls {
  position: absolute;
  right: 35px;
  top: 65%;
  /* min-width: 80px; */
  padding: 5px;
  background-color: rgba(238, 238, 238, 0.103);
}
.status {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-family: "Ubuntu", sans-serif;
  /* margin-left: 35%; */
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.Low-severity {
  background: #837213d2;
}
.Medium-severity {
  background: #b4c00fd2;
}
.High-severity {
  background: #a50a0ade;
}
.severity {
  margin-left: 10px;
  border-radius: 5em;
  color: #fff;

  border: 2;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-family: "Ubuntu", sans-serif;
  /* margin-left: 35%; */
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.complaintCategory {
  margin-left: 10px;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #444730, #185e5e);
  border: 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-family: "Ubuntu", sans-serif;
  /* margin-left: 35%; */
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.userLabel {
  color: rgb(3, 22, 10);
  font-size: 16px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  padding: 0 10px;
}
.userName {
  color: white;
  font-size: 14px;
  margin-left: 6px;
}
